<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">DashBoard</a></li>
          <li class="breadcrumb-item active">Taxes</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="m-auto col-8">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Taxes</h3>
            <div class="card-tools">
            </div>
          </div>

          <div class="card-body">

            <div class="row mb-2">
              <div class="col-5">
                <div class="text-xs font-weight-bold  text-uppercase mb-1">TAX RATE</div>
                <input type="text" class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty" id="corporate_person_name_surname" placeholder="">
              </div>
              <div class="col-5">
                <div class="text-xs font-weight-bold  text-uppercase mb-1">DESCRIPTION</div>
                <input type="text" class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty" id="corporate_person_name_surname" placeholder="">
              </div>
              <div class="col-2">
                <span class="align-middle ">
                   <Button  class=" mt-4 btn btn-primary btn-sm">Add Unit</Button>
                </span>

              </div>
            </div>

            <div class="row">
              <table class="table table-striped table-bordered table-hover text-xs">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Rate</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                  <td>1</td>
                  <td>18</td>
                  <td>Value Added Tax</td>
                </tr>
                <tr >
                  <td>2</td>
                  <td>5</td>
                  <td>Special Communication Tax</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->


