<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Customers</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">DashBoard</a></li>
          <li class="breadcrumb-item active">Product</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Product List</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-block btn-success btn-flat" (click)="newProductButtonHandler()">
                New Product
              </button>
            </div>
          </div>
          <div class="card-body">
            <table id="customerTable" class="table table-bordered table-striped" appDatatable>
              <thead>
              <tr>
                <th>Product Name</th>
                <th>Amount</th>
                <th>Unit</th>
                <th>Purchasing Price</th>
                <th>Selling Price</th>
                <th style="width: 1px; white-space: nowrap;">Edit/Preview/Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of productService.products">
                <td>{{product.product_name}}</td>
                <td>{{product.product_in_quantity}}</td>
                <td>{{unitService.getUnitString(product.uom_id)}}</td>
                <td>{{product.purchasing_price}} ₺</td>
                <td>{{product.selling_price}} ₺</td>
                <td style="text-align: center">
                  <button class="btn btn-sm btn-success mr-2" (click)="editProductButtonHandler(product.product_id)"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-sm btn-primary mr-2" (click)="viewProductButtonHandler(product.product_id)"><i class="fas fa-book-open"></i></button>
                  <button class="btn btn-sm btn-danger" (click)="deleteProductButtonHandler(product)"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Product Name</th>
                <th>Amount</th>
                <th>Unit</th>
                <th>Purchasing Price</th>
                <th>Selling Price</th>
                <th style="width: 1px; white-space: nowrap;">Edit/Preview/Delete</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

<!-- Product Form Data -->
<div class="modal fade" id="productForm" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ product.product_id ? "Edit Product" : "Add New Product" }}</h4>
        <button type="button" class="close" (click)="closeButtonHandler()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col row">
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">PRODUCT NAME</div>
            <input [(ngModel)]="product.product_name" type="text" class="form-control form-control-sm"
                   id="product_name" placeholder="">
            <div
              class="text-xs text-danger font-weight-bold mb-1">{{isEmptyField && !product.product_name ? 'Product name cannot be left blank!' : '' }}</div>

          </div>
        </div>

        <div class="col row">
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">CATEGORY</div>
            <select [(ngModel)]="product.product_category_id" id="product_category_id"
                    class="form-control form-control-sm">
              <option *ngFor="let category of this.categoryService.categories"
                      value="{{category.product_category_id}}">{{category.title}}</option>
            </select>
          </div>
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">UNIT</div>
            <select [(ngModel)]="product.uom_id" id="product_uom_id" class="form-control form-control-sm">
              <option *ngFor="let unit of this.unitService.units" value="{{unit.uom_id}}">{{unit.title}}
                - {{unit.description}}</option>
            </select>
          </div>
        </div>

        <div class="col row">
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">CODE</div>
            <input [(ngModel)]="product.code" type="text" class="form-control form-control-sm"
                   id="product_code" placeholder="">
          </div>

          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">BARCODE</div>
            <input [(ngModel)]="product.barcode" type="text" class="form-control form-control-sm"
                   id="product_barcode" placeholder="">
          </div>
        </div>

        <div class="col row">
          <div class="col mb-2">
            <div class="form-group">
              <div class="form-check">
                <input [(ngModel)]="product.is_inventory_tracking" class="form-check-input" type="checkbox"
                       id="product_is_inventory_tracking">
                <label class="form-check-label text-xs font-weight-bold  text-uppercase mb-1">INVENTROY TRACKING</label>
              </div>
              <div class="form-check">
                <input [(ngModel)]="product.is_notifying" class="form-check-input" type="checkbox"
                       id="product_is_notifying">
                <label class="form-check-label text-xs font-weight-bold  text-uppercase mb-1">NOTIFY</label>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">INITIAL AMOUNT</div>
            <input [(ngModel)]="product.initial_stock_amount" type="text"
                   class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                   id="product_initial_amount" placeholder="">
          </div>
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">NOTIFICATION AMOUNT</div>
            <input [(ngModel)]="product.notification_amount" type="text"
                   class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                   id="product_notification_amount" placeholder="">
          </div>
        </div>

        <div class="row col">
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">PURCHASING PRICE</div>
            <input [(ngModel)]="product.purchasing_price" type="text"
                   class="form-control form-control-sm ng-pristine ng-valid ng-empty ng-touched"
                   id="product_purchasing_price" placeholder="" (input)="changePurchasingHandler($event)">
          </div>
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">SELLING PRICE</div>
            <input [(ngModel)]="product.selling_price" type="text" class="form-control form-control-sm"
                   id="product_selling_price" placeholder="" (input)="changeSellingPriceHandler($event)">
          </div>

          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">TAX</div>
            <select
              [(ngModel)]="taxSelected"
              (ngModelChange)="changeTaxSelectHandler($event)"
              id="product_tax_id" class="form-control form-control-sm">
              <option *ngFor="let tax of taxService.taxes" [ngValue]="tax.tax_id">{{tax.rate}}
                % {{tax.description}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="closeButtonHandler()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveButtonHandler()">{{ product.product_id ? "Update" : "Save" }}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Product Information Data -->
<div class="modal fade" id="productInformation" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product Information</h4>
        <button type="button" class="close" (click)="closeProductInformationButtonHandler()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
