<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Shipments</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">DashBoard</a></li>
          <li class="breadcrumb-item active">Shipments</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">


        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Shipment List</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-block btn-success btn-flat" (click)="newShipmentButtonHandler()">
                New Shipment
              </button>
            </div>
          </div>
          <div class="card-body">
            <table id="customerTable" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Shipment Number</th>
                <th>Description</th>
                <th>Issue Date</th>
                <th>Shipment Date</th>
                <th>Warehouse</th>
                <th>Type</th>
                <th style="width: 1px; white-space: nowrap;">Edit/Preview/Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: center">
                  <button class="btn btn-sm btn-success mr-2"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-sm btn-primary mr-2"><i class="fas fa-book-open"></i></button>
                  <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Shipment Number</th>
                <th>Description</th>
                <th>Issue Date</th>
                <th>Shipment Date</th>
                <th>Warehouse</th>
                <th>Type</th>
                <th style="width: 1px; white-space: nowrap;">Edit/Preview/Delete</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->


<div class="modal fade" id="shipmentForm" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-group">
              <label>Supplier</label>
              <select class="form-control select2" style="width: 100%;">
                <option *ngFor="let customer of customerService.customerList">{{customer.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-group">
              <label>Warehouse</label>
              <select class="form-control select2" style="width: 100%;">
                <option *ngFor="let warehouse of warehouseService.warehouses">{{warehouse.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="form-group">
              <label>Freight Bill Number</label>
              <input type="text" class="form-control" id="freight_bill_number">
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-3">
            <div class="form-group">
              <label>Issue Date</label>
              <input [(ngModel)]="shipment.issue_date" type="date" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Shipment Date</label>
              <input [(ngModel)]="shipment.shipment_date" type="date" class="form-control">
            </div>
          </div>
        </div>
        <div class="row mb-2 align-items-center"  >
          <div class="col-12 align-self-center" style="border-bottom: solid 1px gray;">
            <span class="align-middle h3">Products</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Product</label>
              <select class="form-control select2" style="width: 100%;">
                <option *ngFor="let product of productService.products">{{product.product_name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Amount</label>
              <input type="text" class="form-control" id="amount">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Unit</label>
              <select class="form-control select2" style="width: 100%;">
                <option *ngFor="let unit of unitService.units">{{unit.title}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 pt-4">
            <button type="button" class="btn btn-block btn-success btn-flat" (click)="newShipmentButtonHandler()">
              Add Product
            </button>
          </div>
        </div>

        <div class="col-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Amount</th>
              <th>Unit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of shipment.shipment_item; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.product.product_name}}</td>
              <td>{{item.amount}}</td>
              <td>{{unitService.getUnitString(item.product.uom_id)}}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="save()" class="btn btn-primary">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


