<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Supplier</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">DashBoard</a></li>
          <li class="breadcrumb-item active">Supplier</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Supplier List</h3>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-block btn-success btn-flat"
                (click)="newSupplierButtonHandler()">
                New Supplier
              </button>
            </div>
          </div>
          <div class="card-body">
            <table id="customerTable" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th style="width: 1px; white-space: nowrap;">Edit/Preview/Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let supplier of supplierService.customers; let i = index">
                <td>{{i}}</td>
                <td>{{this.supplier.is_corporate ? this.supplier.title : this.supplier.name_surname}}</td>
                <td>{{this.supplier.phone}}</td>
                <td>{{this.supplier.email}}</td>
                <td style="text-align: center">
                  <button (click)="editSupplierButtonHandler(this.supplier)" class="btn btn-sm btn-success mr-2"><i
                    class="fas fa-edit"></i></button>
                  <button (click)="previewSupplierButtonHandler(this.supplier)" routerLink="" class="btn btn-sm btn-primary mr-2"><i
                    class="fas fa-book-open"></i></button>
                  <button (click)="deleteSupplierButtonHandler(this.supplier)" type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th style="width: 1px; white-space: nowrap;">Edit/Preview/Delete</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

<!-- Supplier Form -->
<div class="modal fade" id="supplierForm" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{supplier.customer_id ? "Update Supplier" : "New Supplier"}}</h4>
        <button type="button" class="close" (click)="closeSupplierFormButtonHandler()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">SUPPLIER TYPE</div>
            <select
              [(ngModel)]="supplier.is_corporate"
              id="supplierType" class="form-control form-control-sm">
              <option [ngValue]="1">Corporate</option>
              <option [ngValue]="0">Individual</option>
            </select>
          </div>
        </div>
        <div *ngIf="supplier.is_corporate">
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">COMPANY TITLE</div>
              <input [(ngModel)]="supplier.title" type="text" class="form-control form-control-sm" id="company_name"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">COMPANY SHORT NAME</div>
              <input [(ngModel)]="supplier.short_name" type="text" class="form-control form-control-sm" id="short_name"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">TAX OFFICE</div>
              <input [(ngModel)]="supplier.tax_office" type="text" class="form-control form-control-sm" id="tax_office"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">TAX NUMBER</div>
              <input [(ngModel)]="supplier.tax_number" type="text" class="form-control form-control-sm" id="tax_number"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="!supplier.is_corporate">
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">FULL NAME</div>
            <input [(ngModel)]="supplier.name_surname" type="text" class="form-control form-control-sm"
                   id="name_surname" placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">SSN</div>
            <input [(ngModel)]="supplier.ssn" type="text" class="form-control form-control-sm" id="ssn" placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">EMAIL</div>
            <input [(ngModel)]="supplier.email" type="text" class="form-control form-control-sm" id="email"
                   placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">PHONE</div>
            <input [(ngModel)]="supplier.phone" type="text" class="form-control form-control-sm" id="phone"
                   placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">ADDRESS</div>
            <textarea
            [(ngModel)]="supplier.address"
            class="form-control form-control-sm" rows="8" cols="35"
            style="margin-top: 0; margin-bottom: 0; height: 150px;"></textarea>
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">TOWN</div>
              <input [(ngModel)]="supplier.town" type="text" class="form-control form-control-sm" id="town"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="row mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">CITY</div>
              <input [(ngModel)]="supplier.city" type="text" class="form-control form-control-sm" id="city"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="row">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">POSTAL CODE</div>
              <input [(ngModel)]="supplier.postal_code" type="text" class="form-control form-control-sm" id="postal_code"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>

          </div>
        </div>


      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="closeSupplierFormButtonHandler()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveSupplierButtonHandler()">{{supplier.customer_id ? "Update" : "Save"}}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.Supplier Form -->


<!-- Supplier Form -->
<div class="modal fade" id="previewSupplierForm" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{supplier.customer_id ? "Update Supplier" : "New Supplier"}}</h4>
        <button type="button" class="close" (click)="closeSupplierFormButtonHandler()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">SUPPLIER TYPE</div>
            <select
              [(ngModel)]="supplier.is_corporate"
              id="supplierType" class="form-control form-control-sm">
              <option [ngValue]="1">Corporate</option>
              <option [ngValue]="0">Individual</option>
            </select>
          </div>
        </div>
        <div *ngIf="supplier.is_corporate">
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">COMPANY TITLE</div>
              <input [(ngModel)]="supplier.title" type="text" class="form-control form-control-sm" id="company_name"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">COMPANY SHORT NAME</div>
              <input [(ngModel)]="supplier.short_name" type="text" class="form-control form-control-sm" id="short_name"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">TAX OFFICE</div>
              <input [(ngModel)]="supplier.tax_office" type="text" class="form-control form-control-sm" id="tax_office"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">TAX NUMBER</div>
              <input [(ngModel)]="supplier.tax_number" type="text" class="form-control form-control-sm" id="tax_number"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="!supplier.is_corporate">
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">FULL NAME</div>
            <input [(ngModel)]="supplier.name_surname" type="text" class="form-control form-control-sm"
                   id="name_surname" placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">SSN</div>
            <input [(ngModel)]="supplier.ssn" type="text" class="form-control form-control-sm" id="ssn" placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">EMAIL</div>
            <input [(ngModel)]="supplier.email" type="text" class="form-control form-control-sm" id="email"
                   placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">PHONE</div>
            <input [(ngModel)]="supplier.phone" type="text" class="form-control form-control-sm" id="phone"
                   placeholder="">
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">ADDRESS</div>
            <textarea
              [(ngModel)]="supplier.address"
              class="form-control form-control-sm" rows="8" cols="35"
              style="margin-top: 0; margin-bottom: 0; height: 150px;"></textarea>
            <div class="text-xs text-danger font-weight-bold mb-1"></div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">TOWN</div>
              <input [(ngModel)]="supplier.town" type="text" class="form-control form-control-sm" id="town"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="row mb-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">CITY</div>
              <input [(ngModel)]="supplier.city" type="text" class="form-control form-control-sm" id="city"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>
            <div class="row">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">POSTAL CODE</div>
              <input [(ngModel)]="supplier.postal_code" type="text" class="form-control form-control-sm" id="postal_code"
                     placeholder="">
              <div class="text-xs text-danger font-weight-bold mb-1"></div>
            </div>

          </div>
        </div>


      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="closeSupplierFormButtonHandler()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveSupplierButtonHandler()">{{supplier.customer_id ? "Update" : "Save"}}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.Supplier Form -->
