<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">DashBoard</a></li>
          <li class="breadcrumb-item active">Warehouses</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="m-auto col-8">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Warehouses</h3>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-block btn-success btn-flat"
                (click)="newWarehouseButtonClickHandler()">
                New Warehouse
              </button>
            </div>
          </div>

          <div class="card-body">

            <div class="row">
              <table class="table table-striped table-bordered table-hover text-xs">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Warehouse</th>
                  <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                  <td>1</td>
                  <td>Central Depot</td>
                  <td>Güngören/İstanbul</td>
                </tr>
                <tr >
                  <td>2</td>
                  <td>Gölcük Depot</td>
                  <td>Gölcük/Kocaeli</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->


<div class="modal fade" id="warehouseForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Warehouse</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col mr-2 mb-2">
          <div class="text-xs font-weight-bold  text-uppercase mb-1">WAREHOUSE NAME</div>
          <input type="text" class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty" id="warehouse_name" placeholder="">
        </div>

        <div class="col mr-2 mb-2">
          <div class="text-xs font-weight-bold  text-uppercase mb-1">ADDRESS</div>
          <textarea class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty" id="warehouse_address" rows="3"></textarea>
        </div>
        <div class="col mr-2 mb-2">
          <div class="text-xs font-weight-bold  text-uppercase mb-1">TOWN</div>
          <input type="text" class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty" id="warehouse_town" placeholder="">
        </div>

        <div class="col mr-2 mb-2">
          <div class="text-xs font-weight-bold  text-uppercase mb-1">CITY</div>
          <input  type="text" class="form-control form-control-sm ng-pristine ng-valid ng-empty ng-touched" id="warehouse_city" placeholder="">
        </div>

        <div class="col mr-2 mb-2">
          <div class="text-xs font-weight-bold  text-uppercase mb-1">POSTAL CODE</div>
          <input  type="text" class="form-control form-control-sm ng-pristine ng-valid ng-empty ng-touched" id="warehouse_postal_code" placeholder="">
        </div>

      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
