<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">DashBoard</a></li>
          <li class="breadcrumb-item active">Categories</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="m-auto col-8">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Product Categories</h3>
            <div class="card-tools">
            </div>
          </div>

          <div class="card-body">

            <div class="row mb-2">
              <div class="col-5">
                <div class="text-xs font-weight-bold  text-uppercase mb-1">CATEGORY NAME</div>
                <input [(ngModel)]="category.title" type="text" class="form-control form-control-sm "
                       id="category_name">
              </div>
              <div class="col-5">
                <div class="text-xs font-weight-bold  text-uppercase mb-1">DESCRIPTION</div>
                <input [(ngModel)]="category.description" type="text" class="form-control form-control-sm"
                       id="description">
              </div>
              <div class="col-2">
                <span class="align-middle ">
                   <Button class="text-xs mt-4 btn btn-primary btn-sm"
                           (click)="addCategoryButtonHandler()">Add Category</Button>
                </span>

              </div>
            </div>

            <div class="row">
              <table class="table table-striped table-bordered table-hover text-xs">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Category Name</th>
                  <th>Description</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let category of categoryService.categories"
                    (click)="getCategory(category.product_category_id)">
                  <td>{{category.product_category_id}}</td>
                  <td>{{category.title}}</td>
                  <td>{{category.description}}</td>
                  <td>
                    <button (click)="deleteCategoryButtonHandler(category.product_category_id)" type="button"
                            class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->


